Repository boostcamp-2020/Project09-C-Uber-Clone, pull requests merged in 2020-11, with the labels that each got.

#7 Github Action deploy 스크립트 추가
  .github/workflows/deploy.yml
Labels: Merge:develop

#8 Client에 TypeScript, Redux 적용 및 구조설계
  client/.eslintrc.js
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/App.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/presentational/LoginInput.tsx
  client/src/index.jsx
  client/src/index.tsx
  client/src/pages/LoginPage.tsx
  client/src/slice.ts
  client/src/store.ts
  client/tsconfig.json
  client/webpack.config.js
Labels: client

#9 개발환경 설정 및 CI/CD적용
  .github/workflows/deploy.yml
  .gitignore
  .vscode/settings.json
  README.md
  client/.eslintrc.js
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/App.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/presentational/LoginInput.tsx
  client/src/index.jsx
  client/src/index.tsx
  client/src/pages/LoginPage.tsx
  client/src/slice.ts
  client/src/store.ts
  client/tsconfig.json
  client/webpack.config.js
  server/.eslintrc.js
Labels: Merge:master, deploy 🎉

#10 개발환경 세팅
  .github/workflows/deploy.yml
  client/src/components/containers/LoginForm.tsx
  client/src/index.tsx
  client/src/queries/hello.ts
  client/src/slice.ts
  server/.eslintrc.js
  server/.sample.env
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/app.ts
  server/src/graphql/resolvers.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/typeDef.ts
  server/src/graphql/types/index.graphql
  server/src/models/index.ts
  server/tsconfig.json
Labels: client, server

#11 Redux와 Apollo 병합
  client/src/components/containers/LoginForm.tsx
  client/src/slice.ts
Labels: client

#13 Antd-Mobile 적용
  .gitignore
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/presentational/LoginInput.tsx
  client/src/index.html
  client/webpack.config.js
Labels: client

#16 SignUpSelect, RiderSignUp 페이지 구현
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/presentational/RiderSignUpInput.tsx
  client/src/components/presentational/SignUpButton.tsx
  client/src/index.html
  client/src/index.tsx
  client/src/pages/RiderSignUpPage.tsx
  client/src/pages/SignUpSelectPage.tsx
Labels: client

#17 드라이버 회원가입 View 추가
  client/package-lock.json
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/presentational/DescriptionInput.tsx
  client/src/components/presentational/Input.tsx
  client/src/components/presentational/ProfileImageInput.tsx
  client/src/pages/DriverSignUpPage.tsx
Labels: Merge:develop, client

#19 모든 페이지 라우팅가능한 상태로 변경
  client/src/App.tsx
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/presentational/RiderSignUpInput.tsx
  client/src/pages/SignUpSelectPage.tsx
Labels: client

#20 라이더 로그인 기능 구현
  client/src/components/containers/LoginForm.tsx
  client/src/queries/login.ts
  client/src/slice.ts
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/index.graphql
  server/src/graphql/types/rider.graphql
  server/src/passport/local.ts
  server/src/repositories/driver.ts
  server/src/repositories/rider.ts
  server/src/services/rider.ts
Labels: Merge:develop, server

#23 Driver 회원가입 관련 GraphQL Backend API 구현
  server/.sample.env
  server/package-lock.json
  server/package.json
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/types/driver.graphql
  server/src/repositories/driver.ts
  server/src/services/driver.ts
  server/src/services/index.ts
Labels: Merge:develop, server

#24 SignUp 이벤트 및 Redux 상태관리 구현
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/presentational/Input.tsx
  client/src/components/presentational/SignUpButton.tsx
  client/src/slice.ts
Labels: client

#27 Rider 회원가입 API 추가
  client/package-lock.json
  server/package-lock.json
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/rider.graphql
  server/src/services/rider.ts
Labels: server

#26 클라이언트 회원가입 로직 구현
  client/package-lock.json
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/presentational/SubTitle.tsx
  client/src/components/presentational/Title.tsx
  client/src/pages/DriverSignUpPage.tsx
  client/src/pages/RiderSignUpPage.tsx
  client/src/queries/signup.ts
  client/src/slices/index.ts
  client/src/slices/loginSlice.ts
  client/src/slices/signUpSlice.ts
  client/src/store.ts
  server/package-lock.json
Labels: Merge:develop, client

#28 Passport 를 이용한 로그인 구현
  .gitignore
  README.md
  client/package-lock.json
  client/src/queries/login.ts
  client/src/slices/loginSlice.ts
  server/.sample.env
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/models/driver.ts
  server/src/models/rider.ts
  server/src/passport/index.ts
  server/src/passport/jwt.ts
  server/src/passport/local.ts
  server/src/repositories/rider.ts
  server/src/services/driver.ts
  server/src/services/rider.ts
Labels: Merge:develop, client, server

#29 로그인/회원가입 구현
  .github/workflows/deploy.yml
  .github/workflows/server.yml
  .gitignore
  README.md
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/presentational/DescriptionInput.tsx
  client/src/components/presentational/Input.tsx
  client/src/components/presentational/LoginInput.tsx
  client/src/components/presentational/ProfileImageInput.tsx
  client/src/components/presentational/SignUpButton.tsx
  client/src/components/presentational/SubTitle.tsx
  client/src/components/presentational/Title.tsx
  client/src/index.html
  client/src/index.tsx
  client/src/pages/DriverSignUpPage.tsx
  client/src/pages/RiderSignUpPage.tsx
  client/src/pages/SignUpSelectPage.tsx
  client/src/queries/login.ts
  client/src/queries/signup.ts
  client/src/slice.ts
  client/src/slices/index.ts
  client/src/slices/loginSlice.ts
  client/src/slices/signUpSlice.ts
  client/src/store.ts
  client/webpack.config.js
  server/.eslintrc.js
  server/.sample.env
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/app.ts
  server/src/graphql/resolvers.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/typeDef.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/models/driver.ts
  server/src/models/index.ts
  server/src/models/rider.ts
  server/src/passport/index.ts
  server/src/passport/jwt.ts
  server/src/passport/local.ts
  server/src/repositories/driver.ts
  server/src/repositories/index.ts
  server/src/repositories/rider.ts
  server/src/services/driver.ts
  server/src/services/index.ts
  server/src/services/rider.ts
  server/tsconfig.json
Labels: Merge:master

#30 Client에서 환경변수 사용
  client/.sample.env
  client/package-lock.json
  client/package.json
  client/src/index.tsx
  client/webpack.config.js
Labels: client

#31 Google-Map API 기본기능 구현
  client/package-lock.json
  client/package.json
  client/src/components/containers/Map.tsx
Labels: client

#33 현재위치 선택 기능 구현
  client/src/App.tsx
  client/src/GlobalStyle.ts
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/Map.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/index.tsx
  client/src/pages/SignUpSelectPage.tsx
  client/src/slices/index.ts
  client/src/slices/mapSlice.ts
Labels: Merge:develop, client

#34 Google-Map Marker 작업
  client/assets/Google_Maps_pin.png
  client/package-lock.json
  client/package.json
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/Map.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/InputPath.tsx
  client/src/components/presentational/SubmitButton.tsx
  client/src/slices/mapSlice.ts
  client/tsconfig.json
  client/webpack.config.js
Labels: client

#35 Place AutoComplete 구현
  client/src/components/containers/Map.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/Input.tsx
  client/src/components/presentational/PlaceSearchBox.tsx
  client/src/pages/SetCoursePage.tsx
Labels: Merge:develop, client

#36 오류 수정 및 인증 directive 설정
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/PlaceSearchBox.tsx
  client/src/favicon.ico
  client/src/routes/RouteIf.tsx
  client/webpack.config.js
  server/src/app.ts
  server/src/graphql/directives/auth.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/index.graphql
  server/src/graphql/types/rider.graphql
  server/src/passport/jwt.ts
  server/src/services/rider.ts
Labels: Merge:develop, client, server

#37 전역상태관리 관련 리팩토링 및 validation 구현
  client/src/apis/loginAPI.tsx
  client/src/apis/signUpAPI.tsx
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/components/presentational/SubmitButton.tsx
  client/src/slices/index.ts
  client/src/slices/loginSlice.ts
  client/src/slices/signUpSlice.ts
  client/src/utils/validate.tsx
Labels: bug, client

#39 드라이버 대기 페이지 구현(실시간 위치정보)
  client/src/App.tsx
  client/src/components/containers/DriverCurrentPositionMap.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/pages/DriverWaitingPage.tsx
Labels: client
