Repository boostcamp-2020/Project09-C-Uber-Clone, pull requests merged in 2020-12, with the labels that each got.

#40 DriverPopup 메시지 창 View 구현, 마커 위치 주소로 변환 기능 추가
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/presentational/CircleButton.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/components/presentational/IgnoreButton.tsx
Labels: Merge:develop, client

#42 사용자 역할에 따른 페이지 라우팅
  client/src/App.tsx
  client/src/apis/loginAPI.tsx
  client/src/apis/verifyUserAPI.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/index.tsx
  client/src/queries/verify.ts
  client/src/routes/RouteIf.tsx
  client/src/slices/index.ts
  client/src/slices/loginSlice.ts
  server/src/app.ts
  server/src/graphql/resolvers/verify.ts
  server/src/graphql/types/verify.graphql
Labels: client, server

#41 subscription 인증 구현
  client/src/pages/SetCoursePage.tsx
  server/src/app.ts
  server/src/graphql/resolvers/driver.ts
  server/src/services/driver.ts
  server/src/services/rider.ts
  server/src/utils/signToken.ts
  server/src/utils/verifyToken.ts
Labels: Merge:develop, server

#44 픽업 대기 페이지 생성
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/PickUpMap.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/presentational/CarIcon.tsx
  client/src/components/presentational/CurrentLocationIcon.tsx
  client/src/components/presentational/PinIcon.tsx
  client/src/favicon.ico
  client/src/index.tsx
  client/src/pages/DriverPickUpPage.tsx
  client/src/pages/RiderPickUpPage.tsx
  client/src/routes/RouteIf.tsx
Labels: Merge:develop, client

#45 Trip Schema 정의 & Driver Schema 업데이트
  server/src/models/driver.ts
  server/src/models/index.ts
  server/src/models/rider.ts
  server/src/models/trip.ts
  server/src/repositories/index.ts
  server/src/repositories/trip.ts
  server/src/services/index.ts
  server/src/services/trip.ts
Labels: Merge:develop, server

#46 matchedDriverState subscription 및 실시간 위치공유 구현
  client/src/apis/driverAPI.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/PickUpMap.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/index.tsx
  client/src/pages/DriverPickUpPage.tsx
  client/src/pages/RiderPickUpPage.tsx
  client/src/queries/driver.ts
  client/src/queries/rider.ts
  client/src/routes/RouteIf.tsx
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/types/driver.graphql
Labels: client, server

#47 driverResponded subscription 구현
  client/src/apis/driverResponseAPI.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/CarIcon.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/index.tsx
  client/src/queries/driverResponded.ts
  server/src/app.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/subscriptions.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/repositories/trip.ts
  server/src/services/trip.ts
  server/src/utils/signToken.ts
Labels: Merge:develop, client, server

#48 경로설정페이지 관련 버그 수정
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
Labels: bug, client

#49 드라이버 픽업 화면에서 라이더의 위치가 변경되면 실시간으로 반영
  client/src/apis/loginAPI.ts
  client/src/apis/riderAPI.ts
  client/src/apis/signUpAPI.ts
  client/src/apis/verifyUserAPI.ts
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/queries/driver.ts
  client/src/queries/rider.ts
  client/src/utils/validate.ts
  server/src/app.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/models/trip.ts
  server/src/repositories/trip.ts
Labels: Merge:develop, client, server

#51 callRequest subscription 및 publish 관련 사항 완료
  client/package-lock.json
  client/package.json
  client/src/apis/callRequestAPI.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/index.tsx
  client/src/pages/DriverMainPage.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driverListen.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/subscriptions.ts
  server/src/graphql/types/driver.graphql
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: Merge:develop, client, server

#50 라이더 매칭 대기 페이지 및 호출 취소 기능
  client/src/apis/callCancelAPI.ts
  client/src/apis/driverResponseAPI.tsx
  client/src/apis/tripAPI.ts
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/CarLoadingImage.tsx
  client/src/components/presentational/CarTopViewIcon.tsx
  client/src/components/presentational/PickUpCancelButton.tsx
  client/src/index.tsx
  client/src/pages/RiderWaitingPage.tsx
  client/src/queries/trip.ts
  client/src/routes/RouteIf.tsx
  client/src/utils/getToken.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/trip.graphql
  server/src/repositories/driver.ts
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: Merge:develop, client, server

#52 시작하는 운행 정보를 생성하고 DB에 저장하는 API 구현, SetCourseForm Validation
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/PlaceSearchBox.tsx
  client/src/utils/geocoding.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/subscriptions.ts
  server/src/graphql/types/trip.graphql
  server/src/services/trip.ts
Labels: Merge:develop, client, server

#53 드라이버 팝업 관리
  client/src/apis/callRequestAPI.ts
  client/src/apis/driverAPI.ts
  client/src/apis/driverResponseAPI.ts
  client/src/apis/tripAPI.ts
  client/src/components/containers/DriverCurrentPositionMap.tsx
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/constants/driverStatus.ts
  client/src/constants/matchingResult.ts
  client/src/constants/tripStatus.ts
  client/src/pages/DriverWaitingPage.tsx
  server/src/repositories/driver.ts
Labels: Merge:develop, client

#56 드라이버 알림이 뜨기까지 발생하는 버그 수정
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/pages/DriverWaitingPage.tsx
  server/src/graphql/resolvers/rider.ts
  server/src/models/driver.ts
  server/src/repositories/driver.ts
  server/src/services/driver.ts
Labels: bug, client, server

#57 드라이버 호출 기능 연결
  client/src/apis/callRequestAPI.ts
  client/src/apis/driverAPI.ts
  client/src/apis/driverResponseAPI.ts
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driver.ts
  client/src/queries/driverResponded.ts
  client/src/queries/rider.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/graphql/types/trip.graphql
Labels: Merge:develop, client, server

#58 픽업 위치 지정
  client/src/apis/driverResponseAPI.ts
  client/src/apis/tripAPI.ts
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/trip.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/trip.graphql
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: Merge:develop, client, server

#60 배포 오류 수정
  client/src/apis/driverResponseAPI.ts
  client/src/apis/tripAPI.ts
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/trip.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/trip.graphql
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: bug, deploy 🎉

#61 드라이버 위치를 1초마다 업데이트
  client/src/apis/callRequestAPI.ts
  client/src/apis/driverAPI.ts
  client/src/components/containers/DriverCurrentPositionMap.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/driver.ts
  server/src/app.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/types/driver.graphql
  server/src/repositories/driver.ts
  server/src/services/driver.ts
Labels: client, server

#62 Subscription type 정리 및 tripSlice 생성
  client/src/apis/callCancelAPI.ts
  client/src/apis/callRequestAPI.ts
  client/src/apis/driverResponseAPI.ts
  client/src/apis/tripAPI.ts
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driverResponded.ts
  client/src/slices/index.ts
  client/src/slices/tripSlice.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/verify.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/index.graphql
  server/src/graphql/types/rider.graphql
  server/src/graphql/types/trip.graphql
  server/src/graphql/types/verify.graphql
  server/src/services/trip.ts
Labels: client, server

#63 matchedDriverState 필터링, pickUpMap 버그픽스, 탑승버튼 클릭 이벤트
  client/src/apis/tripAPI.ts
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/queries/rider.ts
  client/src/queries/trip.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/trip.graphql
  server/src/models/trip.ts
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: bug, client, server

#66 Query, Mutation에 directive 적용 및 error Handler 모듈 구현
  client/src/App.tsx
  client/src/utils/errorHandler.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/graphql/types/trip.graphql
Labels: client, server

#67 Apollo Client API를 useMutation, useQuery로 변경
  client/src/apis/driverAPI.ts
  client/src/apis/driverResponseAPI.ts
  client/src/apis/tripAPI.ts
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driver.ts
  client/src/queries/driverResponded.ts
  client/src/queries/trip.ts
Labels: client, refactoring, server

#68 매칭 후 드라이버와 라이더의 위치 공유 api관련 리팩토링
  client/src/apis/driverAPI.ts
  client/src/apis/riderAPI.ts
  client/src/apis/tripAPI.ts
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/queries/driver.ts
  client/src/queries/rider.ts
  client/src/queries/trip.ts
Labels: refactoring

#69 로그인/회원가입 useMutation 사용하도록 변경
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/RiderSignUpForm.tsx
  client/src/queries/login.ts
  client/src/queries/signup.ts
Labels: Merge:develop, client, refactoring

#70 Apollo Client hooks 적용
  client/src/apis/callCancelAPI.ts
  client/src/apis/callRequestAPI.ts
  client/src/apis/driverResponseAPI.ts
  client/src/apis/verifyUserAPI.ts
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driverResponded.ts
  client/src/queries/trip.ts
  client/src/queries/verify.ts
  client/src/routes/RouteIf.tsx
  server/src/graphql/resolvers/verify.ts
Labels: Merge:develop, client, refactoring

#71 API 리팩토링 최종 PR
  client/src/apis/callCancelAPI.ts
  client/src/apis/callRequestAPI.ts
  client/src/apis/driverAPI.ts
  client/src/apis/driverResponseAPI.ts
  client/src/apis/loginAPI.ts
  client/src/apis/signUpAPI.ts
  client/src/apis/tripAPI.ts
  client/src/apis/verifyUserAPI.ts
  client/src/components/containers/LoginForm.tsx
  client/src/routes/RouteIf.tsx
Labels: refactoring

#72 드라이버 화면에서 라이더의 위치 표시 아이콘 수정 및 탑승 중 페이지 구현
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/DrivingForm.tsx
  client/src/components/containers/DrivingMap.tsx
  client/src/components/containers/PickUpMap.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/presentational/PersonIcon.tsx
  client/src/components/presentational/PinIcon.tsx
  client/src/components/presentational/TripInfoBox.tsx
  client/src/pages/DriverDrivingPage.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/pages/RiderDrivingPage.tsx
  client/src/queries/driver.ts
  client/src/queries/rider.ts
  client/src/queries/trip.ts
  client/src/routes/RouteIf.tsx
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/services/trip.ts
Labels: Merge:develop, client

#74 Trip 거리 , 예상시간을 드라이버 팝업에 추가
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/CourseSubmitModal.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/components/presentational/ProgressBar.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/queries/callRequest.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/rider.graphql
  server/src/graphql/types/trip.graphql
  server/src/models/trip.ts
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: client, server

#75 채팅 Schema, Query, Mutation 추가, 채팅 텍스트 View 추가
  client/src/components/presentational/ChattingText.tsx
  client/src/queries/chatting.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/trip.graphql
  server/src/models/trip.ts
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: Merge:develop, client, server

#76 Distance 오류 해결
  client/src/components/containers/TripCloseModal.tsx
  client/src/queries/trip.ts
  server/src/graphql/types/trip.graphql
  server/src/services/trip.ts
Labels: bug

#77 하차 처리 기능 구현
  client/src/components/containers/DrivingForm.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/TripCloseModal.tsx
  client/src/pages/TripClosePage.tsx
  client/src/routes/RouteIf.tsx
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/types/trip.graphql
  server/src/repositories/trip.ts
Labels: Merge:develop, client, server

#80 cache 오류 해결 및 경로 선택 form 초기화
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/slices/mapSlice.ts
Labels: client

#81 라이더 대기 페이지 UI 수정
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  server/src/graphql/resolvers/rider.ts
Labels: Merge:develop, client

#82 로그아웃 기능 추가
  client/src/components/containers/DriverCurrentPositionMap.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/LogoutButton.tsx
  client/src/pages/DriverWaitingPage.tsx
Labels: Merge:develop, client

#83 InfoBox 수정 및 Loading View 수정
  client/package-lock.json
  client/package.json
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/DrivingForm.tsx
  client/src/components/containers/DrivingMap.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/presentational/LoadingView.tsx
  client/src/components/presentational/ProfileIcon.tsx
  client/src/components/presentational/TripInfoBox.tsx
Labels: Merge:develop, client

#84 경로설정페이지 스타일링 및 핀 수정
  client/assets/Google_Maps_pin.png
  client/src/GlobalStyle.ts
  client/src/components/containers/DriverSignUpFrom.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/CourseSubmitModal.tsx
  client/src/components/presentational/PlaceSearchBox.tsx
  client/src/index.html
  client/src/index.tsx
  client/src/pages/SignUpSelectPage.tsx
  server/src/graphql/resolvers/rider.ts
Labels: client

#85 매칭 후 픽업 이전 취소 기능
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/queries/driver.ts
  client/src/queries/rider.ts
  server/src/graphql/types/rider.graphql
Labels: Merge:develop, client

#89 알림창 구현 및 bugFix
  README.md
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/NoticeModal.tsx
  client/src/index.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/pages/SetCoursePage.tsx
  client/src/pages/TripClosePage.tsx
Labels: bug, client

#90 페이지 라우팅, 캐시 업데이트
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/DrivingForm.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/pages/TripClosePage.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driver.ts
  client/src/queries/driverResponded.ts
  client/src/queries/rider.ts
  client/src/queries/trip.ts
  client/src/queries/verify.ts
  client/src/routes/RouteIf.tsx
  client/src/routes/ValidateTripStatus.tsx
  client/src/slices/loginSlice.ts
  client/src/slices/tripSlice.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/resolvers/verify.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/graphql/types/trip.graphql
  server/src/graphql/types/verify.graphql
  server/src/repositories/trip.ts
  server/src/services/trip.ts
Labels: Merge:develop, client, server

#91 드라이버 대기 화면에서 알림 ON/OFF 기능 추가
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/CircleButton.tsx
  client/src/components/presentational/OnOffButton.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/utils/geocoding.ts
Labels: Merge:develop, client

#93 오류 수정
  client/src/components/containers/DrivingMap.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/presentational/TripInfoBox.tsx
  client/src/queries/login.ts
  server/src/graphql/types/driver.graphql
  server/src/services/driver.ts
  server/src/services/rider.ts
Labels: Merge:develop, bug, client, server

#94 드라이버 알림 on/off 기능 오류 수정 및 로그인 로딩 페이지 추가
  client/src/components/containers/LoginForm.tsx
  client/src/pages/DriverWaitingPage.tsx
Labels: Merge:develop, bug, client

#95 Release v0.1.1
  client/src/components/containers/DriverInfoBox.tsx
  client/src/components/containers/DriverPickUpForm.tsx
  client/src/components/containers/DrivingForm.tsx
  client/src/components/containers/DrivingMap.tsx
  client/src/components/containers/LoginForm.tsx
  client/src/components/containers/PickUpMap.tsx
  client/src/components/containers/RiderInfoBox.tsx
  client/src/components/containers/RiderPickUpForm.tsx
  client/src/components/containers/RiderPickupPositionMap.tsx
  client/src/components/containers/RiderSetCourseMap.tsx
  client/src/components/containers/RiderWaitingModal.tsx
  client/src/components/containers/SetCourseForm.tsx
  client/src/components/presentational/CircleButton.tsx
  client/src/components/presentational/DriverPopup.tsx
  client/src/components/presentational/NoticeModal.tsx
  client/src/components/presentational/OnOffButton.tsx
  client/src/components/presentational/TripInfoBox.tsx
  client/src/pages/DriverWaitingPage.tsx
  client/src/pages/SetCoursePage.tsx
  client/src/pages/TripClosePage.tsx
  client/src/queries/callRequest.ts
  client/src/queries/driver.ts
  client/src/queries/driverResponded.ts
  client/src/queries/login.ts
  client/src/queries/rider.ts
  client/src/queries/trip.ts
  client/src/queries/verify.ts
  client/src/routes/RouteIf.tsx
  client/src/routes/ValidateTripStatus.tsx
  client/src/slices/loginSlice.ts
  client/src/slices/tripSlice.ts
  client/src/utils/geocoding.ts
  server/src/graphql/resolvers/driver.ts
  server/src/graphql/resolvers/rider.ts
  server/src/graphql/resolvers/trip.ts
  server/src/graphql/resolvers/verify.ts
  server/src/graphql/types/driver.graphql
  server/src/graphql/types/rider.graphql
  server/src/graphql/types/trip.graphql
  server/src/graphql/types/verify.graphql
  server/src/repositories/trip.ts
  server/src/services/driver.ts
  server/src/services/rider.ts
  server/src/services/trip.ts
Labels: Merge:master

#96 경로 설정 페이지에서 directions 버그 수정
  client/src/components/containers/RiderSetCourseMap.tsx
Labels: Merge:develop, bug, client

#97 Hotfix v0.1.2 - 경로 설정 느리게 반응하는 버그 수정
  client/src/components/containers/RiderSetCourseMap.tsx
Labels: Merge:master, bug
